
@{
    ViewData["Title"] = "RestaurantSearch";
}
@model XYZMenu

<h1>RestaurantSearch</h1>
<h1>Please select your search distance</h1>
<div>
    <form action="/XYZ/RestaurantSearch" method="post">
        <input type="number" name="num" value="1" />
        <input type="submit" name="num" value="submit" />
    </form>
</div>
<table>
    <tr>
        <td></td>
    </tr>
</table>