@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="FinalProjectDb" asp-action="Map">
    <input type="text" name="Location" placeholder="Enter Address" />
    <input type="date" name="dayy" value="" />
    <input type="submit" name="Submit" value="Submit" />
</form>





