@{
    ViewData["Title"] = "Home Page";
}

<h3>Enter a (US) destination and date</h3>
<h4>to see an overview of the weather</h4>
<form asp-controller="FinalProjectDb" asp-action="Map">
    <input type="text" name="Location" placeholder="Enter Location" />
    <input type="date" name="dayy" value="" />
    <input type="submit" name="Submit" value="Submit" />
</form>

<style>

    h3{
        text-align: center;
        padding: 160px 0px 0px 0px;
    }

    h4, h5{
        text-align:center;
    }

    form{
        text-align:center;
    }

</style>





