@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Finalproject.Models.Location>

<form asp-controller="FinalProjectDb" asp-action="Map" >
    <input type="text" name="Location" placeholder="Enter Address" />
    <input type="date" name="Date" />
    <input type="submit" name="Submit" />
</form>

