@{
    ViewData["Title"] = "Home Page";
}

<h3>Please enter a location and date.</h3>
<form asp-controller="FinalProjectDb" asp-action="Map">
    <input type="text" name="Location" placeholder="Enter Location" />
    <input type="date" name="dayy" value="" />
    <input type="submit" name="Submit" value="Submit" />
</form>

<style>

    h3 {
        text-align: center;
        padding: 160px 0px 0px 0px;
    }

    form{
        text-align:center;
    }

</style>





